<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/main.css">
    <script src="/scripts/main.js"></script>
</head>
<body>
    <ul class="nav">
        <a href="/" id="a">Home</a>
        <a href="/downloads">Downloads</a>
        <a href="/thi" class="third">thi</a>
    </ul>

    <div class="container">
        <h1>All what you love</h1>
        <h2>&#8595;</h2>
    </div>

    <h1 class="h1">Hello and Welcome</h1>

    <p class="p1">That is a test website for testing codespaces. My first impressions are good. Codespaces is so powefull.<br> I mean you can fucking portforwarding a website with vs code. My prefered development environment<br> is anyway vs code.</p>

    <div class="anotherpart">
        <div class="placeholder"></div>
        <h1 class="h11">Download things</h1>
        <p>You want to download things? than go to the downloads tab on the navigation bar or click this button under me.</p>
        <center><a href="/downloads" class="download2">Downloads-></a></center>
    </div>
</body>
</html>