<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sec</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/scripts/main.js"></script>
</head>
<body>
    <ul class="nav">
        <a href="/">Home</a>
        <a href="" id="a">Downloads</a>
        <a href="/thi" class="third">thi</a>
    </ul>

    <div class="bg">
        <h1 class="h12">Welcome to the Download section</h1>
    </div>

    <h2 class="h2sec">Dou you have enough space?</h2>
    <p class="p1sec">Here i upload things that you an download</p>
    <hr>
    <img src="/images/betterdigitspic.png" alt="pack.png" class="imgbetdi">
    <p class="stagefont">That is an self created Minecraft texturepack. I created it with Asperite, that is an pixelart tool with really cool features</p>
    <button class="btn">Download</button>
    <br><br><br><br><br><br>
    <hr>
</body>
</html>